/*! SCSS Stylesheet | style.scss
 * includes: Compass & Bootstrap frameworks
 * Licence: WTFPL
 * Author: Jules Clement <jules@ker.bz>
 */

// Site variables (configure colors, size, fonts, etc...)
@import "partials/variables";
@import "partials/typography";

//## Vendor stuff (Compass, Boostrap, etc...)
//@import "compass";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "bootstrap-compass";
@import "bootstrap";

@import "partials/overrides";

// Modules / elements used in the project
@import "modules/common";
@import "modules/menus";
@import "modules/tags";
@import "modules/images";
@import "modules/forms";
@import "modules/sidebars";
@import "modules/header";
@import "modules/footer";
@import "modules/layout";
@import "modules/posts";
@import "modules/pages";
@import "modules/comments";

@import "modules/pages";
//
html {
    position: relative;
    min-height: 100%;
}
body {
    @media screen {
        // Bottom footer
        margin-bottom: $footer-height + ($grid-gutter-width / 2);
        // WP Admin bar
        &.admin-bar>header {
            padding-top: 32px;
            @media (max-width: $screen-sm) {
                padding-top: 46px;
            }
        }
    }
}

///////////////////////////////////////////
//
// DEBUG / Developpement
//
div {
    position: relative;
    .debug {
        position: absolute;
        top: 0;
        right: 100%;
        margin: 0;
        white-space: nowrap;
        color: $gray;
        //font-size: 1.4em;
        @include transform(rotate(-90deg));
        @include transform-origin(right top);
        z-index: 10;
    }
}
.widget-area,
.debug {
    background-color: rgba(#f0f8ff, 0.5);
}
.widget-area {
    border: 3px solid #f0f8ff;
}
