body>footer {
    //@extend .row;
    background-color: $blue-dark;
    color: $white;
    margin-top: ($grid-gutter-width / 2);
    &>p {
        @extend .col-sm-4;
        //@extend .col-md-4;
        padding: 2em;
    }
    // Sticky footer
    // http://getbootstrap.com/examples/sticky-footer/
    @media screen {
        position: absolute;
        bottom: 0;
        width:  100%;
        height: ($footer-height);
    }
}

footer {
    font-size: .9em;
    color: lighten($gray, 30%);
}
