body>header {
    @extend .row;
    //margin-bottom: ($grid-gutter-width / 2);
    background-color: $blue-dark;
    border-bottom: 1em solid $gray;
    &, a, a:hover { color: $white; }
    .site {
        @extend .col-sm-4;
        @extend .col-md-3;
        font-family: ConcertOne, cursive;
    }
    .menu {
        @extend .col-sm-8;
        @extend .col-md-9;
    }
}

header {
    h1, h2, h3 {
        font-family: ConcertOne, cursive;
        margin-top: 0;
    }
    a:hover {
        text-decoration: none;
    }
}
