.navbar {
    border: 0;
}
.navbar-brand {
    height: initial;
    > img {
        display: inline-block;
    }
    > span {
        font-size: 2.5m;
    }
}
header.navbar {
    margin-top: 0px;
}

footer .navbar {
    margin-bottom: 0px;
    .navbar-nav {
        margin-bottom: 1em;
    }
}

/* Pager */    
ul.page-numbers {
    @extend .col-xs-12;
    @extend .pagination;
    margin-bottom: 0;
    .current {
        @extend .bg-primary;
    }
}

.dropdown-menu,
.dropdown-submenu {
    padding: 0;
    margin: 0;
    border: 0;
    @include border-radius(0);
}

// Bootstrap submenu
.dropdown-submenu {
    position: relative;
    border: 0;
    // caret
    &>a:after {
        position: absolute;
        right: 0;
        content: " ";
        margin: 5px 10px;
        @extend .caret;
        border: 5px solid transparent;
        border-right: 0;
        border-left: 5px solid #CCC;
    }
    &:hover>.dropdown-menu.open {
        display: block;
    }
    &>.dropdown-menu {
        top: 0;
        left: 100%;
        /* margin-top: -6px; */
        margin-left: -1px;
    }
    // Menu opens on the left, until set different
    &.pull-left {
        float: none !important;
        a:after {
            left: 0;
            border-right: 5px solid #CCC;
            border-left: 0;
        }
        .dropdown-menu {
            left: inherit;
            right: 100%;
        }
    }
}
