article.post {
    @include box-shadow(5px 5px 7px 1px rgba($gray, .5));
    padding: 1em;
    background-color: rgba($white, .8);
    &:not(:first-of-type) {
        margin-top: $grid-gutter-width / 2;
    }
    h1 {
        margin-top: 0;
    }
}
